
<div data-ng-repeat="branch in branches">

  <div>ID: {{ branch.id }}</div>
  <div>Nombre real: {{ branch.name_real }}</div>
  <div>Nombre Fantasia: {{ branch.name_fantasy }}</div>

  <br/>

  Address:
  <div>{{ branch.address.street }} {{ branch.address.door }}</div>
  <div>{{ branch.address.area }} - ({{ branch.address.hood }}) - {{ branch.address.state }}</div>

  <br/>
  Telefonos:
  <div>{{ branch.phone.main }}</div>
  <div>{{ branch.phone.other }}</div>
  <div>{{ branch.phone.cel }}</div>

  <br/>
  Horarios:

  <div data-ng-repeat="currentDayHours in branch.hours">
    {{ currentDayHours.day }}:
    <span data-ng-if="currentDayHours.hours.length == 0">Cerrado</span>

    <span data-ng-repeat="hour in currentDayHours.hours">
      <span data-ng-if="$index == 2"> / </span>
      <span data-ng-if="$index == 1 || $index == 3"> - </span>
      {{ hour | date: 'HH:mm'}}
    </span>

  </div>

  <button class="button button-block button-positive" data-ng-click="edit(branch.id)">
    Actualizar Datos de contacto
  </button>
  <button class="button button-block button-positive" data-ng-click="edit(branch.id, 'hours')">
    Actualizar Horarios
  </button>

  <br/>
  <br/>

</div>