<ion-view title="Editar Horarios de Local">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div class="list">

      <form name="storeEditForm" novalidate>

        <div class="list"
             data-ng-repeat="currentDayHours in store.hours">

          {{ currentDayHours.day }}:
          <br />

          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox"
                     data-ng-model="days[$index].timeframe1">
            </label>
            Timeframe1
          </li>

          <div data-ng-show="days[$index].timeframe1">
            <label class="item item-input">
              <span class="input-label">Abre:</span>
              <input type="time"
                     name="day_{{$index}}_hour_0"
                     ng-model="currentDayHours.hours[0]"
                     placeholder="HH:mm"
                     data-ng-required="days[$index].timeframe1" />
            </label>

            <label class="item item-input">
              <span class="input-label">Cierra:</span>
              <input type="time"
                     name="day_{{$index}}_hour_1"
                     ng-model="currentDayHours.hours[1]"
                     placeholder="HH:mm"
                     data-ng-required="days[$index].timeframe1" />
            </label>
          </div>



          <li class="item item-checkbox">
            <label class="checkbox">
              <input type="checkbox"
                     data-ng-model="days[$index].timeframe2">
            </label>
            Timeframe2
          </li>

          <div data-ng-show="days[$index].timeframe2">
            <label class="item item-input">
              <span class="input-label">Abre:</span>
              <input type="time"
                     name="day_{{$index}}_hour_2"
                     ng-model="currentDayHours.hours[2]"
                     placeholder="HH:mm"
                     data-ng-required="days[$index].timeframe2" />
            </label>

            <label class="item item-input">
              <span class="input-label">Cierra:</span>
              <input type="time"
                     name="day_{{$index}}_hour_3"
                     ng-model="currentDayHours.hours[3]"
                     placeholder="HH:mm"
                     data-ng-required="days[$index].timeframe2" />
            </label>
          </div>

        </div>


        <button class="button button-full button-positive"
                data-ng-disabled="storeEditForm.$invalid"
                data-ng-click="save(store,days)">
          Guardar
        </button>

        <button class="button button-full button-royal" data-ng-click="cancel()">
      Cancelar
    </button>

    </form>

    </div>


  </ion-content>

</ion-view>