<div>{{ store.name_real}}</div>
<div>{{ store.name_fantasy }}</div>

</hr>
Address:
<div>{{ store.address.street }} {{ store.address.door }}</div>
<div>{{ store.address.area }} - ({{ store.address.hood }}) - {{ store.address.state }}</div>

</hr>
Telefonos:
<div>{{ store.phone.main }}</div>
<div>{{ store.phone.other }}</div>
<div>{{ store.phone.cel }}</div>

</hr>
Horarios:

<div data-ng-repeat="currentDayHours in store.hours"
     class="list">

  {{ currentDayHours.day }}:
  <span data-ng-if="currentDayHours.hours.length == 0">Cerrado</span>

  <span data-ng-repeat="hour in currentDayHours.hours">
    <span data-ng-if="$index == 2"> / </span>
    <span data-ng-if="$index == 1 || $index == 3"> - </span>
    {{ hour | date: 'HH:mm'}}
  </span>

</div>



<button class="button button-block button-positive" data-ng-click="edit()">
  Actualizar Datos de contacto
</button>
<button class="button button-block button-positive" data-ng-click="edit('hours')">
  Actualizar Horarios
</button>