<ion-view title="Listado de Productos">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">

    <div data-ng-repeat="category in categories">

      <div>
        Categoria: {{ category.description }}
      </div>

      <div data-ng-repeat="product in category.products">

        Producto: {{ product.description }} - $ {{ product.price.base}}

        <hr/>
        Grupo de Opciones
        <div data-ng-repeat="option in product.options">

          GRUPO OPCION {{$index + 1}}: {{ option.description}} - {{ option.config.component }}

          <div data-ng-repeat="item in option.items">
            Opcion: {{ item.description }} - Recargo $ {{ item.price }}
          </div>

          <br/>

        </div>

        <br/><br/>

      </div>

      <hr/>
      <hr/>
      <hr/>



    </div>



  </ion-content>

</ion-view>
