<ion-view title="Ordenes">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="has-header">

    <orders-list data-ng-model="orders.new" data-order-status="Nuevas"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.progress" data-order-status="En Proceso"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.ready" data-order-status="Listas Para Entregar"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.close" data-order-status="Finalizadas"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.cancel" data-order-status="Canceladas"></orders-list>

  </ion-content>

</ion-view>
