<h1>{{ orderStatus }} ({{orders.length}})</h1>

<div data-ng-if="orders.length == 0">No hay ordenes</div>

<div class="row" data-ng-repeat="order in orders">

  <div class="col">{{ $index + 1 }}</div>
  <div class="col">{{ order.delivery }}</div>
  <div class="col">{{ order.totalPrice }}</div>
  <div class="col">{{ order.products.length }}</div>
  <div class="col">{{ order.contact.name }} - {{ order.contact.phone }}</div>

  <div class="col">

    <button class="button button-positive"
            data-ng-if="actionButtons.accept"
            data-ng-click="takeOrder(order)">
      Aceptar
    </button>

    <button class="button button-positive"
            data-ng-if="actionButtons.view"
            data-ng-click="viewOrder(order)">
      Details
    </button>

    <button class="button button-positive"
            data-ng-if="actionButtons.ready"
            data-ng-click="dispatchOrder(order)">
      Orden Lista
    </button>

    <button class="button button-positive"
            data-ng-if="actionButtons.delivery"
            data-ng-click="">
      Asignar delivery
    </button>

    <button class="button button-positive"
            data-ng-if="actionButtons.close"
            data-ng-click="closeOrder(order)">
      Cerrar
    </button>

    <button class="button button-positive"
            data-ng-if="actionButtons.cancel"
            data-ng-click="">
      Cancelar
    </button>
  </div>


  </br>

</div>