<ion-view title="Ordenes">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="has-header">

    <orders-list data-ng-model="orders.new.list" data-order-status="orders.new.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.progress.list" data-order-status="orders.progress.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.to_pickup.list" data-order-status="orders.to_pickup.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.to_deliver.list" data-order-status="orders.to_deliver.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.delivery.list" data-order-status="orders.delivery.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.closed.list" data-order-status="orders.closed.status"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.canceled.list" data-order-status="orders.canceled.status"></orders-list>

  </ion-content>

</ion-view>
