<ion-view title="Ordenes">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
  </ion-nav-buttons>

  <ion-content class="has-header">


    <orders-list data-ng-model="orders.new" data-order-status="new"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.progress" data-order-status="progress"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.pickup" data-order-status="pickup"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.delivery" data-order-status="delivery"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.close" data-order-status="close"></orders-list>

    </hr>

    <orders-list data-ng-model="orders.cancel" data-order-status="cancel"></orders-list>

  </ion-content>

</ion-view>
