<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i></ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="navContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Nav</h1>
    </header>

    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/branches">
          Locales
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/products/category/add">
          Productos -> Categorias
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/products/add">
          Productos: Agregar
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/products">
          Productos: Listado
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/orders/list">
          Ordenes
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>